@media screen and (min-width:1920px) and (max-width:1920px){
    .before {
        right: 33.5rem;
    }
    .after {
        right: 25rem;
    }
   ul {
    margin-top: 0.5rem;
   }
    .flag {
        margin-left: 7rem;
    }
    .nav-button {
        margin-top: 1.8rem;
    }
    .overview {
        margin-left: 4rem;
    }
}
@media screen and (min-width:2560px){
    .name {
        width: 30.3%;
        margin-left: 14rem;
    }
    .flag {
        margin-left: 18rem;
    }
    .before {
        right: auto; 
        margin-left: 2.5rem;
    }
    .after {
        right: auto ;
        margin-left: -7rem;
    }
    .copyright {
        width: 34rem;
        justify-content: flex-end;
    }
}