block details
    .det-cont
        .software-title-cont
            h1  Easy to Use Cloud Budget Management Software
        .software-desc-cont
            h2 Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.
        .software-link
            a(href="#") learn more 
    .teamimg-cont 
        img(src="img/Video_bg.svg", alt="")