block features
    .title-cont 
        h1 features 
    .grid-container 
        .grid-bg-cont
            img(src="img/grid-bg1.svg", alt="", class="grid-bg1")
            img(src="img/grid-bg2.svg", alt="", class="grid-bg2")
            img(src="img/grid-bg3.svg", alt="", class="grid-bg3")
        .grid-cont-feat 
            .grid-1.grid-item
                h2 Supports All Currencies and Cards
                p We support all popular currencies and is fully customizable to add
                a(href='#') read more 
            .grid-2.grid-item
                h2 Manage your expenses on the go
                p You can access your account from anywhere in the world on any device
                a(href='#') read more 
            .grid-3.grid-item 
                h2 Cloud Budget Management Software
                p Our software is made so you can access and manage your budget
                a(href='#') read more