block info 
    .info-titles 
        h2 Address 
        h2 Services 
        h2 Get in Touch 
        h2 We Support 
    .info-p 
        .address
            p Pipang Ltd, Griva Digeni,
                | 81-83 Jacovides Tower, 1st Floor
                | 1090 Picosia USA
        .nav-info 
                ul 
                    li 
                        a Overview 
                    li 
                        a Features 
                    li 
                        a Technology 
                    li 
                        a Terms & Conditions
                    li 
                        a Privacy
        .getintouch 
                a(href='#') info@cloudbudget.com
                p +1 844-721-7120
                img(src="img/facebook.svg", alt="")
                img(src="img/linkedin.svg", alt="")
                img(src="img/twitter.svg", alt="")
        .visa 
                img(src="img/visa.svg", alt="")
    .copyright 
            p Copyright 2018 CloudBudget