block info 
    .info-p
        .address
            h2.address-info Address 
            p Pipang Ltd, Griva Digeni,
                | 81-83 Jacovides Tower, 1st Floor
                | 1090 Picosia USA
        .nav-info 
                    h2.services-info Services 
                    a(href='#', class="overview", class="nav-item") Overview 
                    a(href='#', class="features", class="nav-item") Features 
                    a(href='#', class="tech", class="nav-item") Technology 
                    a(href='#') Terms & Conditions
                    a(href='#') Privacy
        .getintouch 
                h2.git-info Get in Touch 
                a(href='#') info@cloudbudget.com
                p +1 844-721-7120
                .socialimg
                    a(href="#") 
                        img(src="img/facebook.svg", alt="")
                    a(href="#") 
                        img(src="img/linkedin.svg", alt="")
                    a(href="#") 
                        img(src="img/twitter.svg", alt="")
        .visa 
                h2.support-info We Support 
                a(href="#") 
                    img(src="img/visa.svg", alt="")
    .copyright 
            p Copyright 2018 CloudBudget