block nav
   ul.nav-list
        li.name.nav-logo
            a(href="#")  cloudbudget
        li.overview.nav-item 
            a(href="#")  overview
        li.features.nav-item 
            a(href="#")  features
        li.tech.nav-item 
            a(href="#")  technology
        li.contact.nav-item 
            a(href="#")  contact
        li.sign.nav-item 
            a(href="#")  sign up
        li.flag.nav-item 
            img(src="img/us.svg", alt="#" class="usflag")
        select.lang 
            option(value="en", class="option") en 
            option(value="ru", class="option") ru 
            option(value="kg", class="option") kg 
        img(src="img/arrow-down.svg", alt="", class="arrow-d")
        button.login.nav-button 
            a(href="#", class="login") login
