block nav
   ul.nav-list
        li.name.nav-logo
            a(href="#")  cloudbudget
        li.overview.nav-item 
            a(href="#")  overview
        li.features.nav-item 
            a(href="#")  features
        li.tech.nav-item 
            a(href="#")  technology
        li.contact.nav-item 
            a(href="#")  contact
        li.sign.nav-item 
            a(href="#")  sign up
        li.flag.nav-item 
            img(src="img/us.svg", alt="#" class="usflag")
        li.lang.nav-item 
            a(href="#", class="lang1") en
        button.login.nav-button 
            a(href="#", class="login") login
