block savemoney 
    .save-container 
        .save-desc
            .save-title
                h1 Stay focused on saving money
            .save-p
                p It is important to stay focused on saving money in any way you can. We help you monitor your spending habits so you can easily spot and cut any unnecessary expenses. Simply join today to get started!
            .save-app-link 
                a(href="#")
                    img(src="img/playmarket.svg", alt="", class="playmarket")
                a(href="#")
                    img(src="img/appstore.svg", alt="", class="appstore")
                a(href="#")
                    img(src="img/windows.svg", alt="", class="windows")
        .sittingManImg 
            img(src="img/mansitting.svg", alt="", class="man")
            img(src="img/bgmanimg.svg", alt="", class="after")
            img(src="img/bgmanimg2.svg", alt="", class="before")