block technology 
    .tech-title-main 
        h1 technology 
    .tech-desc
        .num-div
            h1.num-title 01
            h1.num-title 02
            h1.num-title 03
            h1.num-title 04
        .grid-cont-tech
            .grid-item1.grid-tech-item
                img(src="img/cloud.svg", alt="")
                h2.tech-title Cloud Storage 
                p.tech-p Access your account from anywhere in the world on any device
            .grid-item2.grid-tech-item
                img(src="img/shield.svg", alt="", class="shield")
                h2.tech-title Secure
                p.tech-p All your information is stored on secure cloud servers
            .grid-item3.grid-tech-item
                img(src="img/pdf.svg", alt="", class="pdf")
                h2.tech-title PDF Download
                p.tech-p Download any of your reports in PDF format
            .grid-item4.grid-tech-item
                img(src="img/csv.svg", alt="", class="csv")
                h2.tech-title CSV Download
                p.tech-p All your information is stored on secure cloud servers
